<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login - Company ABC</title>
</head>
<body>
<div>
    <h1>Login please</h1>
    <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <p>
            E-mail: <input type="text" name="username" required />
        </p>
        <p>
            Password: <input type="password" name="password" required />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    </form>
</div>
</body>
</html>